{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Rest Your Password</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    </head>
    <body>
        <div class="container py-4">
            <div class="card shadow-lg" style="max-width: 600px; margin: auto;">
                <div class="card-header bg-primary text-white text-center">
                    <h3>Activate Your Account</h3>
                </div>
                <div class="card-body">
                    <p>Dear <strong>{{ fname }}</strong>,</p>
                    <p>We thank you to join Yerase. Here is your activation your code.</p>
                    <div class="border p-3 bg-light">
                        <H1>{{ otp_code }}</H1>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
